<div class="col-md-3 col-sm-12">
    <ul>
        <li><a href="Index.php">Principal</a></li>
        -------------------------- <br>
        <li><a href="CadastroAluno.php">Cadastro de Alunos</a></li>        
        <li><a href="RemoverAluno.php">Remoção de Alunos</a></li>
        <li><a href="BuscarAluno.php">Buscar Alunos</a></li>
        <li><a href="AtualizarAluno.php">Atualização de Alunos</a></li>
        -------------------------- <br>
        <li><a href="CadastroProfessor.php">Cadastro de Professores</a></li>
        <li><a href="RemoverProfessor.php">Remoção de Professores</a></li>
        <li><a href="BuscarProfessor.php">Buscar Professores</a></li>
        <li><a href="AtualizarProfessor.php">Atualização de Professores</a></li>
    </ul>
</div>